@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

aside {
    background-color: #604652;
    min-width: 260px;
    max-width: 390px;
    // width: 30%;
}

.layout-wrapper {
    max-height: 100vh;
    overflow: hidden;
}

.main-content-wrapper {
    background-color: #F7F7F7;
    ;
}