/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.modal {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: #f7f7f7;
    margin: auto;
    padding: 20px;
    width: 70%;
    border-radius: 3px;
}


.btn-primary {
    border: none;
    font-size: 34px;

}