<table>
    <tr>
        <th>Назва</th>
        <th>Дії</th>
    </tr>
    <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>
            <button (click)="editCategory(category.id)">
                <app-record-operations [name]="'edit'" [size]="24" />
            </button>
            <button (click)="deleteCategory(category.id)">
                <app-record-operations [name]="'delete'" [size]="24" />
            </button>
        </td>
    </tr>
</table>